# map commits to canonical names and email addresses

# format is
#   canonical name [<canonical email>] [commit name] <commit email>
# where the commit values will be mapped to canonical ones; see
#   man git-check-mailmap
# for details

# to update, check
#   git log --format="%aN <%aE>" | sort -u
# for incorrect or duplicate entries

Adam Amara <adam.amara@phys.ethz.ch> adamamara <adamamara@penguin>
Coleman Krawczyk <coleman.krawczyk@gmail.com> CKrawczyk
Ian Harry <ian.harry@ligo.org> <iwharry@googlemail.com>
Lucia F. de la Bella <55983939+Lucia-Fonseca@users.noreply.github.com>
Nicolas Tessore <n.tessore@ucl.ac.uk> <nicolas.tessore@manchester.ac.uk>
Richard R <58728519+rrjbca@users.noreply.github.com> <rrjbca@users.noreply.github.com>
